.popular-container{
    max-width: 1400px;
    width: 90%;
    //border: 1px solid black;
    margin: 0 auto;
    height: auto;
    background-color: #f9f9f9;
}

#popular h1{
    //border: 1px solid black;
    color: #FF0000;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 28px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    //box-sizing: border-box;
}

.result{
    flex-basis: 27.5%;
    margin-bottom: 30px
}

.fa{
    color: #FFF;
}

.raleway{
    margin-left: 15px;
}


@media all and ( max-width: 800px ){

    .flex-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        box-sizing: border-box;
    }
 
    .result {
        flex-basis: 40%;
    }
}

@media all and ( max-width: 600px ){
    
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        box-sizing: border-box;
    }

    .result {
           flex-basis: 60%;
    }
}

@media all and ( max-width: 500px ){
    
    h1{
        font-size: 21px;
    }

    .flex-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        box-sizing: border-box;
    }

    .result {
           flex-basis: 75%;
    }
}